:root {
    --main-font:'Roboto',
        sans-serif;
    --logo-font:'Raleway',
        sans-serif;

    --primary-text-color: #212121;
    --primary-white-color: #ffffff;
    --secondary-text-color: #757575;
    --tertiary-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
    --passive-color: #afb1b8;
    --hero-bg: #2f303a;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --footer-bg: #2f303a;
    --header-border: #ececec;
    --color-border: #eeeeee;
}